@charset "UTF-8";

/* Cores: #262626 (cinza), #2c011d (roxo escuro) */

hgroup h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #D991C0;
    text-align: center;
    margin: 10px 0;
    font-size: clamp(20px, 4vw, 24px);
}

hgroup p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: clamp(20px, 4vw, 24px);
}

/* CONFIGURAÇÃO DO ALBUM - FOTOS LADO A LADO */
ul#album_fotos {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alterado para alinhar à esquerda */
}

/* TEXTO SPAN INVISÍVEL */
ul#album_fotos li span {
    opacity: 0;
}

/* CONFIGURAÇÃO DOS ITENS - MANTÉM LADO A LADO */
ul#album_fotos li {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid rgb(214, 13, 137);
    background-color: #D991C0;
    box-shadow: 5px 5px 10px #2c011d;
    background-size: cover;
    background-position: center;
    /* Flexbox item - já fica lado a lado automaticamente */
}

/* IMAGENS - CORRIGINDO OS CAMINHOS */
ul#album_fotos li#foto_01 {
    background: url(paginas/imagem/fer_180.png) no-repeat center/cover;
}
ul#album_fotos li#foto_02 {
    background: url(paginas/imagem/fer_001.png) no-repeat center/cover;
}
ul#album_fotos li#foto_03 {
    background: url(paginas/imagem/fer_002.png) no-repeat center/cover;
}
ul#album_fotos li#foto_04 {
    background: url(paginas/imagem/fer_003.png) no-repeat center/cover;
}
ul#album_fotos li#foto_05 {
    background: url(paginas/imagem/fer_004.png) no-repeat center/cover;
}
ul#album_fotos li#foto_06 {
    background: url(paginas/imagem/fer_005.png) no-repeat center/cover;
}
ul#album_fotos li#foto_07 {
    background: url(paginas/imagem/fer_006.png) no-repeat center/cover;
}
ul#album_fotos li#foto_08 {
    background: url(paginas/imagem/fer_007.png) no-repeat center/cover;
}
ul#album_fotos li#foto_09 {
    background: url(paginas/imagem/fer_008.png) no-repeat center/cover;
}