@charset "UTF-8";

/* Cores: #262626 (cinza), #2c011d (roxo escuro) */

hgroup h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #D991C0;
    text-align: center;
    margin: 10px 0;
    font-size: clamp(20px, 4vw, 24px);
}

hgroup p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: clamp(20px, 4vw, 24px);
}

/* CONFIGURAÇÃO DO ALBUM - FOTOS LADO A LADO */
ul#album_fotos {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alterado para alinhar à esquerda */
    align-content: center;
}

/* TEXTO SPAN INVISÍVEL */
ul#album_fotos li span {
    opacity:0;
    color: rgba(41, 1, 26,0.7);
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(192, 189, 191,0.3);
    align-content: center;
}
/*ABAIXO CONFIGURO A VISIBILIDADE DO SPAN DA GALERIA DE IMAGEM APOS O MOUSE PASSAR PELA IMAGEM*/

ul#album_fotos li:hover span{
    opacity: 1;
}

/* CONFIGURAÇÃO DOS ITENS - MANTÉM LADO A LADO */
ul#album_fotos li {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid rgb(214, 13, 137);
    background-color: #D991C0;
    background-size: cover;
    background-position: center;
    /* Flexbox item - já fica lado a lado automaticamente */
    transition: all 0.3s ease-in; /*faz com que a imagem ao passar o mouse cresça suavemente*/
}

/*ABAIXO COLOCO O EFEITO PARA QUANDO PASSAR O MOUSE A IMAGEM AUMENTAR DE TAMANHO*/
ul#album_fotos li:hover{
    padding: 10px;
    transform: scale(1.5);
}

/* IMAGENS - CORRIGINDO OS CAMINHOS */
ul#album_fotos li#foto_01 {
    background: url(paginas/imagem/fer_180.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_01:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

ul#album_fotos li#foto_02 {
    background: url(paginas/imagem/fer_001.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_02:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

ul#album_fotos li#foto_03 {
    background: url(paginas/imagem/fer_002.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_03:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

ul#album_fotos li#foto_04 {
    background: url(paginas/imagem/fer_003.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_04:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

ul#album_fotos li#foto_05 {
    background: url(paginas/imagem/fer_004.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_05:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

ul#album_fotos li#foto_06 {
    background: url(paginas/imagem/fer_005.png) no-repeat center/cover;
    background-position: 50% 50%; /*POSICIONA A IMAGEM DENTRO DO BLOCO*/
    background-size: 100px 100px;
}
ul#album_fotos li#foto_06:hover{
    background-position: 0px 0px;
    background-size: 150px 150px;
}

