@charset "UTF-8";

body{
    background-color: #262626;
    min-width: 80%vw;
}

.fundo_logo{
    background-color: #303030;
    min-width:70px;
    min-height:150px;
    display: flex;
    margin-top: -90px;
}

.cabecalho{
    border: 1px solid #8C3063;
    display: flex;
    background-color: #8C3063;
    min-width:70px;
    min-height:170px;
    margin-top: -140px;
    margin-left: 15px;
    margin-right: 15px;
}
.cabecalho h1{
    color:#A66086;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24pt;
    margin-top: 90px;
    margin-left: 30px;
}