@charset "UTF-8";

body{
    background-color: #262626;
    min-width: 80vw;
}

/*ABAIXO ESTOU CONFIGURANDO O CABECALHO DO SITE E SEUS ELEMENTOS*/
.cabecalho {
    background-color: #A66086;
    border: 1px solid #A66086;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -160px;
    height: 180px;
}