@charset "UTF-8";


body{
    background-color: #262626;
    min-width: 80vw;
}
/*ABAIXO ESTOU CONFIGURANDO UM RETANGULO ACIMA DO BODY DE COR MAIS CLARA*/
.fundo_claro{
    background-color: #616161;
    border: 1px solid #303030;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 80vw;
    height: 180px;
}
